/* changing font-family*/
html {
    font-family: 'Raleway', sans-serif;
}

/*Color pallete*/
 :root {
    --text: #000000;
    --secondary-color: #ebe2e7;
    --third-color: #940045;
 }

 /*Background color*/
 html {
  background-color: var(--secondary-color);
 }

/*Turn off underlines and colors + lists*/
 a {
    text-decoration: none;
    color: var(--text);
 }

 ul > li {
   list-style: none;
 }

 /*Heading*/
 h1, h2, h3, h4, h5, h6 {
   color: var(--third-color);
 }


;