/* changing font-family*/
html {
    font-family: 'Raleway', sans-serif;
}

/*Color pallete*/
 :root {
    --text: #000000;
    --secondary-color: #ebe2e7;
    --third-color: #940045;
    --fouth-color: #8d8d8d;
    --fifth-color: #785589;
    --shadow: #111111a8;
 }

 /*Background color*/
 html {
  background-color: var(--secondary-color);
 }

/*Turn off underlines and colors + lists*/
body {
  margin: 0;
}


 a {
    text-decoration: none;
    color: var(--text);
 }

 /* If you want to delete dots, use thi modificator*/
 .ul--without-dots > li {
   list-style: none;
 }





/*section*/
section{
  padding: 1em;
}

/*article*/
article {
  padding: 1em;
}

/*paragraph*/
p {
  max-width: 48em;
  padding: .5em 1em;
  margin: 0 .5em;
  line-height: 1.5;
}


/*if you want colored text in paragraph use class .text--colored*/
.text--colored {
  color: var(--third-color);
}




/*Headings*/
 h1, h2, h3, h4, h5, h6 {
   color: var(--third-color);
   font-weight: bold;
   font-size: 20px;
   padding: 8px;
   margin: 8px;
 }


h1 {
  font-size: 3em;

}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}



/*table design*/
table {
  border-collapse: collapse;  
  margin: 1em;
}

th, td {
  border: 1px solid var(--text);
  padding: .5em;
}

table > caption {
  padding: .5em;
  font-weight: bold;
  font-size: 1.5em;
}


/*if you want to change color of border to the third color, use this modifikator*/
.table--colored > caption {
  color: var(--third-color);
}


.table--colored > thead > tr > th {
  border-color: var(--third-color);
  color: var(--third-color);
}

.table--colored > tbody > tr > td {
  border-color: var(--third-color);
}

.table--colored > tbody > tr > th {
  border-color: var(--third-color);
  color: var(--third-color);
}

.table--colored > tfoot > tr > td {
  border-color: var(--third-color);
}


/*buttons as a component with class .button*/

.button {
  background-color: var(--third-color);
  padding: 1em;
  border-radius: 8px;
  color: var(--secondary-color);
  border: 2px solid var(--third-color);
  display: inline-block;
  margin: .5em;
  font-weight: bold;
}

/*button with different color --> using modificator*/

.button--second {
  background-color: var(--fifth-color);
  border: 2px solid var(--fifth-color);
}


.button--third {
  background-color: var(--secondary-color);
  color: var(--third-color);
  transition: .5s ease-out;
}

/*button hover*/

.button:hover {
  background-color: var(--secondary-color);
  color: var(--third-color);
  border: 2px solid var(--third-color);
}

.button--second:hover {
  color: var(--fifth-color);
  border: 2px solid var(--fifth-color);
}

.button--third:hover {
  background-color: var(--secondary-color);
  color: var(--third-color);
  transform: scale(1.1);
}


/*Image and gallery*/
/*figure - max with and centering it*/
figure {
  max-width: 48em;
  margin: 0 auto;
  position: relative;
}

/*figcapation*/
figcaption {
  position: absolute;
  color: var(--secondary-color);
  width: 100%;
  bottom: 0;
  padding: 1em 0;
  text-align: center;
  background-color: var(--shadow);
}

img {
  width: 100%;
  height: 100%;
  display: block;
}


/*gallery*/
/*I you want to use this gallery, please use this notation: 
    <div class="gallery">
      <figure class="gallery__item">
        <img src="./img/cat.jpg" alt="">
        (<figcaption>This is cute cat</figcaption>) => optional
      </figure>
    </div>
*/

.gallery{
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: .5em;
}

.gallery__item {
  max-width: 250px;
  margin: 0;
}


.gallery__item > figcaption{
  bottom: 0;
}





/*navigation component --> block nav, element nav__menu and nav__logo, block menu with elements menu__item*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--fifth-color);
  color: var(--secondary-color);
  
}

.nav__logo {
  padding: 1em;
}


.menu {
  padding: 0;
  margin: 0;  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


.menu__item {
  position: relative;
  padding: 1em;
  list-style: none;
}


.menu__item > a {
  color: var(--secondary-color);
}


/*hover

.menu__item:hover {
background-color: var(--secondary-color);

}

.menu__item:hover > a {
  color: var(--third-color);
}
*/


/* adding underline to .menu__item
.menu__item::after {
  content: "";
  height: 2px;
  width: 80%;
  background-color: var(--third-color);
  position: absolute;
  bottom: .6em;
  left: 10%;
}
*/